:root {
    --bg: #000000;
    --fg: #ffffff;
    --bg_acc: #e0e0e0;
    --font: #c8c8c8;
    --navfont: #00ffaa;
    --links: #37c0ca;
    --magenta: DeepPink;
    --cyan: #389DF2;
    --yellow: #FDD000;
    --bg_shadow: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAD0lEQVQImWNgYGD4z4AMAA4EAQAvGW0PAAAAAElFTkSuQmCC);
    --font_sans: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    --font_mono: Fira Code, Monaco, Consolas, Ubuntu Mono, monospace;
}

header {
    margin: 0 auto;
    display: flex;
}

body {
    padding: 0 15px;
    margin: 8px auto;
    line-height: 1.4;
    color: var(--fg);
    background: #222;
    color: #c8c8c8;
    position: relative;

}

div.intro {
    max-width: 808px;
    position: relative;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 800px;
    text-align: left;
}

#photos {
    max-width: 808px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 900px;
    text-align: center;
    position: static;
}

div.foot {
    max-width: 808px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 800px;
    text-align: center;
}

b {
    font-weight: bold;
    color: var(--navfont);
}

h1,
h2,
h3 {
    letter-spacing: -0.02em;
    line-height: 1.2;
    margin-bottom: -8px;
    color: var(--navfont);
}

h1 {
    font-size: clamp(1.5em, 7vw, 3em);
    margin-bottom: .8em;
}

h1 span {
    font-size: 1rem;
    display: block;
    letter-spacing: 0;
}

a {
    text-decoration: none;
    font-family: monospace, sans-serif;
    font-weight: 600;
}

img {
    block-size: auto;
    max-inline-size: 100%;
    vertical-align: middle;
    padding: 5px;
}


/* headers */

header div {
    max-height: 40px;
    display: flex;
    flex: 1;
    align-items: flex-end;
}

header nav {
    padding: 2 0;
    margin-bottom: 3px;
    padding-left: 8px;
    font: 16px var(--font_mono);
    color: var(--navfont);
}

header nav a {
    font-weight: 400;
}


/* Shadows after header */

.shadow {
    position: relative;
    background-color: var(--bg);
}

.shadow:after {
    background: var(--bg_shadow);
    background-position: right bottom;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    left: 7px;
    top: 8px;
    z-index: -1;
}

.shadowPlus4:after {
    height: calc(100% + 3.1px);
    width: calc(100% + 3.1px);
}

.blink_me {
    animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.nav-arrow {
    width: 20px;
    font-size: 16px;
    float: right;
}


/* Links in terminal */

a:-webkit-any-link {
    text-decoration: none;
    color: var(--links);
}


/* Links on header */

a.header {
    text-decoration: none;
    color: var(--navfont);
    display: inline;
}

.link {
    text-decoration: none;
    color: var(--links);
}

footer {
    clear: both;
    /* margin-bottom: -30px; */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}


/* Gallery */

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1800px;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 30px;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    background-image: url(../elements/bg-6.gif?2);
    /* cursor: zoom-in; */
    margin: 5px;
}

#photos img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}


/* rTerm */

.cursor {
    animation: 1s blinker linear infinite;
    -webkit-animation: 1s blinker linear infinite;
    -moz-animation: 1s blinker linear infinite;
    text-align: center;
    font-size: 14px;
    font-family: monospace, sans-serif;
    color: var(--font);
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 1.0;
    }

    51% {
        opacity: 0.0;
    }

    100% {
        opacity: 0.0;
    }
}

.rterm {
    position: relative;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    font-family: monospace, sans-serif;
    color: var(--font);
    min-height: 199px;
    width: 800px;
    text-align: left;
}

.rtermbig {
    position: relative;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    font-family: monospace, sans-serif;
    color: var(--font);
    min-height: 199px;
    width: 800px;
    text-align: left;
}

/* Collapside */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}